{
    # 全局日志格式设置
    log {
        format json {
            time_format "2006-01-02 15:04:05"
            time_local
        }
    }
}

# 站点配置
:8080 {
    # 设置网站根目录
    root * /www
    # 启用静态文件服务
    file_server
    # 启用压缩
    encode zstd gzip
    # 单页应用路由支持
    try_files {path} /index.html
}